asgiref==3.8.1
backports.zoneinfo==0.2.1
beautifulsoup4==4.13.3
certifi==2025.1.31
charset-normalizer==3.4.1
Django==4.2.20
idna==3.10
python-decouple==3.8
requests==2.32.3
soupsieve==2.6
sqlparse==0.5.3
typing_extensions==4.12.2
urllib3==2.2.3
